

<!--enfoque2 para llenar select. segun
    https://stackoverflow.com/questions/39476181/angularjs-1-5-8-how-do-i-populate-a-select-option-list-directly-from-within

  <select data-ng-model="data.cod_moneda" ng-options="moneda.codigo as moneda.nombre for moneda in lista_monedas" >
    </select>
  -->

    <!--valores fijos
    <select  name="cod_moneda" data-ng-model="data.cod_moneda" class="form-control input-sm">
      <option value = "">--Seleccione una Opcion--</option>
      <option value = "$ARG">Peso Argentino</option>
      <option value = "$BOL">Peso Boliviano</option>
      <option value = "$COL">Peso Colombiano</option>
      <option value = "$CHI">Peso Chileno</option>
      <option value = "ECU">Moneda de Ecuador?...</option>
      <option value = "GS">Guarani</option>
      <option value = "PAN">Moneda de Panama...</option>
      <option value = "PER">Sol Peruano</option>
      <option value = "BS">Bolivar</option>
    </select>
  -->


