




					<!--
					<li><a href="https://api.yadio.io/json/" target="_BLANK">Fuente API 1</a></li>
					<br/>
					<li><a href="https://apiv2.bitcoinaverage.com/widgets/global/ticker/BTCPYG" target="_BLANK">Fuente API 2</a></li>
					<br/>
					<a href="api/graficaBTC_PYG.html" target="_BLANK">Gráfico de Referencia (temporal)</a>
				-->


  <!--pruebas 
    <p>saludo: {{ saludo}}</p>
    <input name="login" type="text" ng-model="data.login" auto-focus>
<p>login: {{ paramLogin}}</p>
<p>showError: {{ showError}}</p>
<p>showForm: {{ showForm}}</p>
  $scope.showErrorNotFound = false;
-->


<!--
  <div class="row">
  	columna 1, izquierda
  	<div class="col-sm-6" style="align-content: left">

  		<div class="form-group">
-->
			<!--valor ajustado significa paridad BTC/PYG comparado con localbitcoins compra
			por ahora se tiene que registrar manualmente
		-->
  				<!--form>
  					<div name="formAPI1" ng-show="dataOk">
  						<h5>Comprar btc en Paraguay</h5>
  						<span>La mejor tasa para compra en localbitcoins:</span>
  						<span style="color: orange">BTC/PYG = </span><span style="font-weight: bold">{{ BTC_PYG_high | number:0.2}}</span>
  						<br><hr>
  						<span style="color: orange">% dif respecto costo con trader</span>
  						<input type="number" ng-model="data2.porctrader" step="0.01" size="6" min="0.01" max="20.00" maxlength="6"
  						ng-change="calcValorAjustado()"
  						style="max-width:150px"/>
  						<br><br>
		<span style="color: orange">Bitcoin/PYG ajustado con porcentaje <br>(comparar <b>compra</b> en localbitoins) </span><br>
		<span style="font-weight: bold">{{ BTC_PYG_ajustado | number:0.2}}</span>

		<br><br>
		<a href="https://apiv2.bitcoinaverage.com/widgets/global/ticker/BTCPYG" target="_BLANK">Confirmar Info</a>
</div>	
</div>
	-->

<!--
<br><br>
<div class="container">
	<h4>Herramientas</h4>
	<ul>
		<li><a href="https://yadio.io/calc.html" target="_BLANK">Calculadora Yadio</a></li>
		<li><a href="https://yadio.io/today.html" target="_BLANK">Gráfica Hoy</a></li>
		<li><a href="https://yadio.io/charts.html" target="_BLANK">Gráfica Hist. Bs / BTC / $USD</a></li>
			</ul>			
		</div>

		<br>
	-->
		<!--2da columna, izquierda-->
      <!--
			<div style="margin:0 auto; float:right">
			-->
<!--
		<div class="col-sm-6">
			<h4>Simulador/Calculadora</h4>
			<h5>(con Tasas Reales)</h5>

			<form>
				Gs:  <input name="monto1" type="number"
				step="50"
				ng-min="30000" ng-max="5000000" min="60000" max="5000000"
				ng-model="monto1"
				ng-change="calcularMontoUSD(); calcularMontoBs(); "
				ng-blur="calcularMontoUSD(); calcularMontoBs(); "
				auto-focus
				required
				class="form-control input-sm"
				style="width: 150px"
				ng-pattern="/^[0-9]+?$/">

				<br>
				USD: <br>
				<input type="text" name="monto3" ng-model="monto3" style="width: 150px"
				ng-min="5" ng-max="300" min="5" max="300"
				ng-change="calcularMontoBs()calcularMontoOrigen();"
				class="form-control input-sm">

				<br>
				Bs: 
				<input type="text" name="monto2" ng-model="monto2" ng-change="calcularMontoOrigen()"
				min="100000" max="2000000" step="1" required
				class="form-control input-sm"
				style="width: 150px">

				<br>
				<hr>
				% de comision: 
				<input type="number" name="porc_comision" ng-model="porc_comision" ng-change="aplicarComision()"
				min="0.01" max="10" step="0.01" required
				class="form-control input-sm"
				style="width: 150px">

				<br>Luego de comision:
				<br><span><b>USD: {{montoUSD | number:1.2}}</b></span>
				<br><span><b>Bs.: {{montoBs  | number:0.0}}</b></span>

				<br>
				<br>Monto de comision:
				<br><span><b>Comision USD: {{monto3 - montoUSD | number:1.2}}</b></span>
				<br><span><b>Comision Gs.: {{monto1 * porc_comision/100  | number:1.0}}</b></span>
				<br><span><b>Comision Bs.: {{monto2 - montoBs  | number:0.0}}</b></span>

					<br><br>
					<b>Tasa real a ofrecer:
						<br>Bs por dolar:</b><span>X</span>
						<br>
						<b>Bs por Gs.</b><span>Y</span>
						<br>


					</form>

				</div>
			</div-->



			<!--debug-->
<!--
		</div>
			<div class="col-sm-3">
		pre>{{data | json}}</pre>
		<pre>{{calc | json}}</pre>
	</div>
		</div>
	-->


<!--PRUEBAS
VES: {{ data.VES }}
DATA: {{ data }}<br/>
<input ng-model="BTC_VES_sell | number" disabled="true">
<b>{{ saludo}}</b>
-->




  <!--div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div-->  


					<!--
					<li><a href="https://api.yadio.io/json/" target="_BLANK">Fuente API 1</a></li>
					<br/>
					<li><a href="https://apiv2.bitcoinaverage.com/widgets/global/ticker/BTCPYG" target="_BLANK">Fuente API 2</a></li>
					<br/>
					<a href="api/graficaBTC_PYG.html" target="_BLANK">Gráfico de Referencia (temporal)</a>
				-->





<!--TODO. en este campo hidden colocar el nombre del banco, segun el seleccionado en el select
    <br/>
  <input name="bank" type="hidden" ng-model="destino.codbank" placeholder="Nombre de Banco" auto-focus autofocus autofocus="true" maxlength="40"
  class="form-control input-sm">
-->